:root {
  --color-dark: #111;
  --color-light: #f7f7f7;
  --color-primary: #3c3;
  --color-secondary: #33c;
  --color-accent: #c33;
}

body {
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */

header {
  background-color: var(--color-primary);
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

#site-title {
  font-size: 2rem;
  font-weight: bold;
}

header > * {
  margin-block: 0;
}

header nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav ul ::marker {
  content: '';
}

/* Content */

main {
  max-width: 1152px;
  margin: auto;
  margin-top: 0;
  padding-inline: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark);
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

a {
  color: var(--color-dark);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Footer */

footer {
  background-color: var(--color-primary);
  margin-top: 1rem;
  padding: 1rem;
}

footer > * {
  width: fit-content;
  margin-inline: auto;
}

/* Home page */

main#home > section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2%;
  margin-block: 2rem;
}

main#home > section > * {
  width: calc(32%);
}

main#home > section > * > *:last-child {
  margin-top: auto;
}

main#home > section > *.w2-3 {
  width: calc(66%);
}

main#home > section > *.w3-3 {
  width: calc(100%);
}

main#home > section > h2.w3-3 {
  text-align: center;
}

main#home > section > article {
  width: calc(32% - 2rem);
  background-color: var(--color-primary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

main#home > section > article > h3 {
  margin: 0;
}

main#home > section > article > a {
  display: block;
  margin-top: auto;
  margin-right: auto;
}
